<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.otroespacioblog.opensearcher" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Open Searcher</name>
    <description>
    Buscador de Open Libra.
    </description>
	<author email="frajaquico@aol.com" href="http://otroespacioblog.wordpress.com/">
	Otro Espacio
	</author>
    <content src="index.html"/>
    <access origin="*"/>
    <preference name="fullscreen" value="false" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="show-splash-screen-spinner" value="false" />
	<preference name="android-installLocation" value="auto" />
	<preference name="webviewbounce" value="false"/>
	<preference name="UIWebViewBounce" value="false"/>
	<preference name="DisallowOverscroll" value="true"/>
	<preference name="BackupWebStorage" value="none"/>
    <platform name="android">
      <icon src="/www/res/icon/android/icon.png" />
      <icon src="/www/res/icon/android/ldpi.png" density="ldpi" />
      <icon src="/www/res/icon/android/mdpi.png" density="mdpi" />
      <icon src="/www/res/icon/android/hdpi.png" density="hdpi" />
      <icon src="/www/res/icon/android/xhdpi.png" density="xhdpi" />
     </platform>
    <icon src="/www/img/icon.png" />
</widget>