<ion-view title="Category">
    <ion-content>
    	<div>
    		<button class="button button-block button-balanced" ng-click="goBack()">Volver</button>
    	</div>
    	<div class="box" ng-repeat="book in results">
    		<div class="box-image">
				<img src="{{book.cover}}">
			</div>
			<div class="box-content">
				<p class="box-title">{{book.title}}</p>
        		<p>{{book.author}}</p>
        		<a class="button button-block button-positive" id="external" href="{{book.url_download}}">Descargar</a>
			</div>
    	</div>
     </ion-content>
</ion-view>