<ion-view title="Category">
    <ion-content>
    	<div>
    		<button class="button button-block button-balanced" ng-click="goBack()">Volver</button>
    	</div>
    	<div ng-repeat="book in results">

        		<div class="card">
        			<div class="item item-image">
        				<img src="{{book.cover}}">
        			</div>
        			<div class="item item-text-wrap">
        				<h1>{{book.title}}</h1>
		        		<p>{{book.author}}</p>
		        		<p>{{book.pages}}</p>
		        		<p>{{book.language}}</p>
		        		<a class="button" href="{{book.url_download}}">Descargar</a>
        			</div>
        		</div>
        	</div>
     </ion-content>
</ion-view>