<?xml version='1.0' encoding='utf-8'?>
<widget id="com.otroespacioweb.searchlibra" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>openlibra</name>
    <description>
        Aplicacion que hara uso de la API de Open Libra
    </description>
    <author email="frajaquico@aol.com" href="http://about.me/cescquintero">
        Francisco Quintero
    </author>
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
</widget>
