<ion-view title="Open Searcher">
    <ion-content>
        <div class="row">
        	<h4>Programación</h4>
        </div>
        	<div class="box" ng-repeat="book in devBooksData">
    			<div class="box-image">
    				<img src="{{book.cover}}">
    			</div>
    			<div class="box-content">
    				<p class="box-title">{{book.title}}</p>
	        		<p>{{book.author}}</p>
	        		<a class="button button-block button-positive" id="external" href="{{book.url_download}}">Descargar</a>
    			</div>
        	</div>

        <div class="row">
        	<h4>Académicos</h4>
        </div>
        	<div class="box" ng-repeat="book in schoolBooksData">
				<div class="box-image">
    				<img src="{{book.cover}}">
    			</div>
    			<div class="box-content">
    				<p class="box-title">{{book.title}}</p>
	        		<p>{{book.author}}</p>
	        		<a class="button button-block button-calm" id="external" href="{{book.url_download}}">Descargar</a>
    			</div>
        	</div>
        </div>

        <div class="row">
        	<h4>Leyes</h4>
        </div>
        	<div class="box" ng-repeat="book in lawBooksData">
        		<div class="box-image">
    				<img src="{{book.cover}}">
    			</div>
    			<div class="box-content">
    				<p class="box-title">{{book.title}}</p>
	        		<p>{{book.author}}</p>
	        		<a class="button button-block button-balanced" id="external" href="{{book.url_download}}">Descargar</a>
    			</div>
        	</div>
        </div>

     </ion-content>
</ion-view>