<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.opensearcher" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Open Searcher</name>
    <description>
        Buscador de Open Libra.
    </description>
    <author email="frajaquico@aol.com" href="http://otroespacioblog.wordpress.com">
        Francisco Quintero
    </author>
    <preference name="phonegap-version" value="3.5.0" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="android-installLocation" value="auto" />
    <gap:plugin name="org.apache.cordova.inappbrowser" version="0.3.3" />

    <icon src="icon.png" />
    
    <access origin="*" />
</widget>
