/*RESETS*/

.ui-content{
	background-color: #B4C0C6 !important;
}

h2{
	margin-top: 14px;
	margin-bottom: 4px;
	text-align: center;
	color: #ff0080;
	/*text-shadow:1px 1px 1px rgba(0,0,0,0.5);*/
}

.ui-content{
	padding-top: 0px !important;
}

.bookBox h3,
.bookBox p{
	padding: 0px;
	margin: 0px;
}

.bookBox a{
	text-decoration: none;
}

/*ESTILO PARA RESULTADOS DE BUSQUEDAS*/
.unstyled{
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
}

.unstyled li{
	margin-top: 12px;
	color: #207cca;
}

/*ESTILO PARA LA CAJA QUE CONTIENE LA INFORMACION DEL LIBRO*/

.bookBox{
	background-color: #fff;
	margin-top: 18px;
	margin-bottom: 10px;
}

.booksListInfo{
	padding: 4px 0px 4px 8px;
	margin-top: 6px;
}

.booksListInfo p{
	padding-bottom: 4px;
}

/*ESTILO PARA EL ENLACE Y TITULO DEL LIBRO*/

h3.bookBoxTitleBook{
	margin-top: 0px;
	padding: 6px 0px 6px 8px;
	font-weight: normal;
	height: 44px;
	text-shadow:1px 1px 1px rgba(0,0,0,0.8);
}

/*COLORES PARA LOS FONDOS DE LOS TITULOS DE LOS LIBROS*/

.bookBoxTitleBookColorGreen{
	background-color: #8FC400;
	color:#fff;
}

.bookBoxTitleBookColorBlue{
	background-color: #06AFE2;
	color:#fff;
}

.bookBoxTitleBookColorOrange{
	background-color: #F2B900;
	color:#fff;
}

.bookBoxTitleBookColorPink{
	background-color: #F900DC;
	color:#fff;
}

.bookBoxTitleBookColorYellow{
	background-color: #F7E600;
	color:#3A4868;
}

.bookBoxTitleBookColorRed{
	background-color: #E2391B;
	color:#fff;
}

.bookBoxTitleBookColorPurple{
	background-color: #FF0CDA;
	color:#fff;
}

/*ESTILO PARA LAS IMAGENES DE LAS PORTADAS*/

.booksListImage img{
	width: 100%;
	height: 100%;
}

/*TODAS LAS MEDIA QUERIES*/
@media (max-width:1400px){
	
	.clear{
		clear: both;
		padding: 10px 0px 0px 0px;
	}
	.bookBox{
		display: inline-block;
		float: left;
		width: 306px;
		height: auto;
		margin: 17px 0px 0px 12px;
	}
	h3.bookBoxTitleBook{
		height: 38px;
		font-size: 1em;
	}
	.booksListInfo p{
		font-size: 0.9em;
	}
	.booksListImage img{
		height: 384px;
	}
}

@media (max-width:800px){
	
	.clear{
		clear: both;
		padding: 20px 0px 20px 0px;
	}	
	.bookBox{
		display: inline-block;
		float: left;
		width: 280px;
		height: auto;
		margin: 0px 0px 0px 12px;
	}

}

@media (max-width: 380px){

	.clear{
		clear: none;
		padding: 0px;
	}	
	.bookBox{
		display: block;
		float: none;
		width: 100%;
		height: auto;
		margin: 12px 0px 0px 0px;
	}
}